.main-content {
  margin: 0 auto;
  flex-direction: column;
  background-color: white;
  min-height: 1000px;
  padding: 2%;
}

.errors-container {
  height: 100vh;
}
.errors {
  padding: 2%;
  text-align: center;
  margin: 5%;
  background: #fce1da;
  border-radius: 5px;
}

.article-card {
  margin: 1%;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  border-radius: 5px;
  justify-content: center;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.articles-container {
  margin: 1%;
  overflow: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  flex-direction: column;
  border-bottom: dotted black 0.5px;
}

.article-card-header {
  display: flex;
  flex-direction: column;
  border-bottom: dotted black 0.5px;
}

.author {
  display: flex;
  justify-content: space-between;
}
.votes-comments {
  display: flex;
  justify-content: space-between;
}

.voter {
  display: flex;
}

.icons {
  display: flex;
  margin: 5%;
}

.card-body {
  text-align: center;
}

.comment-card {
  padding: 0.5%;
}

.comments-container {
  display: flex;
  flex-direction: column;
  /* margin-top: 1%; */
  height: auto;
  text-align: center;
  /* border: solid red; */
  grid-area: comments;
}

.comment-header {
  margin: 2%;
  /* display: flex; */
  justify-content: flex-end;
}

.banner {
  display: flex;
  flex-direction: column;
  padding: 1%;
  border-radius: 5px;
  width: 98%;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* background: #984f39; */
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
}

.nav-topic {
  display: flex;
  align-items: center;
  margin: 1%;
  /* background: rgba(255, 255, 255, 0.123); */
}

.nav-btn {
  border-radius: 4%;
  padding: 5%;
  border: none;
  text-align: center;
  white-space: nowrap;
}

.nav-container {
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 3%;
  justify-content: center;
  align-items: center;
  color: black;
  /* background: #131e29; */
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.login-form {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.login-success {
  color: black;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* border: solid; */
}

.comment-form {
  display: flex;
  flex-direction: column;
}
textarea {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  border-radius: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.topic-form {
  background: #f7f9f9;
  border-radius: 5px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-body {
  height: 200px;
  padding-bottom: 80px;
  padding-right: 10%;
}

.delete-btn:hover {
  color: red;
}

.sort-comments {
  background: #f0f0f0;
  border-radius: 5px;
  display: flex;
}
.sort {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* align-content: center; */
  margin: 0 auto;
  justify-content: flex-start;
}

.sort-button {
  background-color: #e88a7b;
  /* margin: 2%; */
}

.sort-header {
  margin-right: 3%;
}

.sort p {
  margin-right: 2%;
}

.select {
  align-content: center;
  align-items: center;
  background: none;
  color: black;
  margin-left: 1%;
  margin-right: 1%;
  height: 38px;
  border-radius: 5px;
  border: none;
}

.articles-header {
  justify-content: center;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: black;
  padding: 1%;
  border-radius: 5px;
  z-index: 2;
  align-items: center;
}

.articles {
  display: flex;
  flex-direction: column;
}

.cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* background: #131e29; */
}

.topic-text {
  text-transform: capitalize;
}

a {
  color: #fff;
}
a:hover {
  color: black;
}

input[type="text"] {
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
}

.footer {
  text-align: center;
}

.new-article,
.loading {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.new-topic {
  text-align: center;
  height: 100vh;
}

@media screen and (min-width: 600px) {
  .banner {
    flex-direction: row;
    justify-content: space-between;
  }

  .header {
    grid-area: header;
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1%;
    justify-content: space-evenly;
    border-radius: 5px;
  }

  .nav-container {
    justify-content: flex-start;
  }

  .articles-header {
    max-width: 200px;

    margin-top: 1.7%;
  }

  .articles-container {
    display: flex;
    flex-direction: row;
  }

  .sort {
    align-items: flex-start;
  }

  .login-form {
    /* width: 20%; */
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: auto auto auto;
  }
}
