.App {
  /* text-align: center; */
}

.article-card {
  border: solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5%;
  padding: 2%;
}

.card-header {
  display: flex;
  justify-content: space-evenly;
}

.card-body {
  text-align: center;
}

.comment-card {
  border: solid black;
  padding: 2%;
  margin: 1%;
}

.vote {
  display: flex;
  margin-left: 5%;
  align-items: center;
}

.comment-header {
  margin: 2%;
  display: flex;
  justify-content: flex-end;
}
